
.App
    font-family: Roboto
    background-color: #f5f5f5
    background-image: url(./images/bg.png)
    background-size: cover
    overflow: hidden

    .ball
        display: inline-flex
        font-family: Roboto
        font-weight: bold
        text-align: center
        padding: .5em
        border-radius: 2em
        background-color: antiquewhite
